[submodule "zmk"]
	path = zmk
	url = https://github.com/hlord2000/zmk.git
	branch = angry_miao_hatsu
[submodule "Adafruit_nRF52_Bootloader"]
    path = Adafruit_nRF52_Bootloader
    url = https://github.com/hlord2000/Adafruit_nRF52_Bootloader.git
    branch = master
