proc flash_bootloader {} {

    # Get the directory of the current script
    set script_dir [file dirname [info script]]

    # Construct the path to app.hex
    set file_path "$script_dir/angry_miao_hatsu_bootloader-0.8.0_nosd.hex"
    echo "****FILE PATH: $file_path****"

    halt

    echo "FLASHING BOOTLOADER"
    set result [nrf52.dap apreg 1 0x04]

    if {$result != 0x00000001} {
        echo "****APPROTECT ENABLED: DISABLING****"
        nrf52.dap apreg 1 0x04 0x01
        echo "\033[31m ****PLEASE POWER CYCLE YOUR BOARD**** \033[0m"
        return
    }
    echo "****APPROTECT DISABLED****"
    echo "****ERASING FLASH****"
    nrf5 mass_erase
    echo "****FLASHING BOOTLOADER****"
    flash write_image erase $file_path
    echo "****PLEASE POWER CYCLE YOUR BOARD****"
    reset
    shutdown
}
